* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

h1 {
    color: #4caf50;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

}

.img {
    max-width: 100%;
    max-height: 95%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#my-div {
    display: flex;
    width: 50%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#drop-area {
    display: flex;
    width: 50%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    color: #3e8e41;
    font-weight: bold;
    border-radius: 2%;
    cursor: pointer;
}

.true {
    color: #4caf50;
    font-weight: bold;
    font-size: 22px;
    margin-top: 9px;
}

.false {
    color: red;
    font-weight: bold;
    font-size: 22px;
    margin-top: 9px;
}

button {
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    /* margin: 50px 0 0 0; */
}

button:hover {
    background-color: #3e8e41;
}